<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#073643">
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/solar/custom.min.css">
	<link rel="stylesheet" href="/font/font.css">
	<link rel="stylesheet" href="/css/custom.css">

  </head>

  <body>

	<div class="navbar navbar-expand fixed-top navbar-dark bg-dark">
      <div class="container">
		<div class="navbar-brand">SmartNSG</div>
	  </div>
	</div>

	 <!-- Begin Page Content -->

      {{{body}}}

  </body>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>

</html>
