<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#073643">

    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/solar/custom.min.css">
	<link rel="stylesheet" href="/font/font.css">
	<link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/keyboard.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">SmartNSG</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="prog">Program settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="weekend">Weekend energy saving</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="antifreeze">Antifreeze</a>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="navbar-brand clock mr-sm-2 hide" id="readOnlyInput1" type="text" placeholder="Mon 01 - April" style="text-align:center;" readonly></input>
          <input class="navbar-brand digital clock hide" id="readOnlyInput2" type="text" placeholder="12:00" style="text-align:center;" readonly></input>
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>-->
      </div>
    </nav>

	<!--<div class="navbar navbar-expand fixed-top navbar-dark bg-dark">
      <div class="container">
		<div class="navbar-brand">SmartNSG</div>
		<div class="collapse navbar-collapse" id="navbarColor02">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Options <span class="caret"></span></a>
			  <div class="dropdown-menu" aria-labelledby="download">
          <a class="dropdown-item" href="prog" id="prog_page">Program settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="weekend" id="weekend_page">Weekend energy saving</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="antifreeze" id="antifreeze_page">Antifreeze</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/"> Home page</a>
			  </div>
			</li>
		  </ul>
		  <fieldset class="nav-item" style="float:center;">
              <input class="navbar-brand clock" id="readOnlyInput1" type="text" placeholder="Mon 01 - April" style="text-align:center;" readonly></input>
		  </fieldset>
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item">
               <input class="navbar-brand digital clock" id="readOnlyInput2" type="text" placeholder="12:00" style="text-align:center;" readonly></input>
			</li>
		  </ul>
		</div>
	  </div>
	</div>-->

	 <!-- Begin Page Content -->

      {{{body}}}

  </body>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/clockAndCalendar.js"></script>

</html>
