<div class="container">
  <div class="row" id="antifreeze_settings">
    <div class="col-sm-1"></div>
    <div class="col-10">
	     <div class="card border-secondary mb-3">
		       <div class="card-header">Antifreeze temperature settings</div>
	         <div class="card-body">
			          <form action="/">
				              <fieldset>
					                   <div class="row">
          					                <div class="col" style="text-align:right;">
                  							             <p class="card-text digital display-2" id="temperature_af">10.0°C</p>
  						                      </div>
			                              <div class="col text-center">
                        							<div class="btn-group-vertical" style="width: 3rem;">
                        								 <button type="button" class="btn btn-secondary" style="margin-top:15px;" id="increase_af">+</button>
                        								 <button type="button" class="btn btn-secondary" id="decrease_af">-</button>
                        							</div>
                        						</div>
                             </div>
                             <!-- TODO CLEAN IT -->
					<div class="row" style="margin-top:20px;">
              <div class="col text-center">
                  <fieldset class="form-group" id="tre">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios3" id="optionsRadios5" value="option5">
                          Enabled
                        </label>
                      </div>
                      <div class="form-check">
                      <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios3" id="optionsRadios6" value="option6">
                          Disabled
                        </label>
                      </div>
                  </fieldset>
              </div>
              <div class="col" style="float:right; margin-top:5px;">
                  <button type="submit" class="btn btn-primary" style="margin-right: 1rem;" id="conf_antifreeze">Confirm</button>
                  <button type="cancel" class="btn btn-primary" style="margin-right: 1rem;">Cancel</button>
              </div>
          </div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<div class="col-sm-1"></div>
</div>

</div>

<script src="js/antifreeze.js"></script>
