<div class="container" style="overflow-y: auto;">
  <h3>Connecting to {{ssid}}</h3>
  <div class="row">
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class=" use-keyboard-input form-control" id="inputPassword2" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Confirm</button>
    </form>
  </div>
</div>

<div class="simple-keyboard"></div>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/clockAndCalendar.js"></script>

<script src="/js/keyboard.js"></script>
