<div class="container">
<h3>Credentials for external devices peering</h3>
<p>Ipv4 address: <b>
        {{#if ipAddress}}
            {{ipAddress}}
        {{else}}
            -
        {{/if}}</b><p>
<p>IoT topic: <b>relay</b></p>
</div>
<script src="/js/jquery.min.js"></script>
