<!-- Begin Page Content -->
<div class="container">
  <div class="row" id="secondary">
    <div class="col-12">
      <div class="card border-secondary mb-3">
        <div class="card-header">Weekly program settings</div>
          <div class="card-body">
            <form>
              <fieldset>
                <!-- days -->
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-8">
                    <div class="form-group">
                      <select class="custom-select" id="day">
                        <option value="1" selected>Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <a class="btn btn-primary" href="/prog" role="button" id="save">Save</a>
                    <!--<button type="cancel" class="btn btn-primary" id="exit">Exit</button>-->
                    <a class="btn btn-primary" href="/" role="button" style="margin-left: 1rem;">Exit</a></div>
                </div>

                <!-- block of sliders -->
                <div class="row" style="margin-top:20px;">

                  <!-- first half of sliders -->
                  <div class="col-6">

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">12:00 p.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value1" id="formControlRange1"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value1">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">1:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value2" id="formControlRange2"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value2">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">2:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value3" id="formControlRange3"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value3">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">3:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value4" id="formControlRange4"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value4">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">4:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value5" id="formControlRange5"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value5">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">5:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value6" id="formControlRange6"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value6">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">6:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value7" id="formControlRange7"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value7">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">7:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value8" id="formControlRange8"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value8">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">8:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value9" id="formControlRange9"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value9">18.0 °C</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">9:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value10" id="formControlRange10"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value10">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">10:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value11" id="formControlRange11"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value11">18.0 °C</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4 text-center">
                        <p class="card-text">11:00 a.m.</p>
                      </div>
                      <div class="col-5">
                        <form>
                          <div class="form-group">
                            <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                           data-id="value12" id="formControlRange12"/>
                          </div>
                        </form>
                      </div>
                      <div class="col-3 text-center">
                        <p class="card-text" id="value12">18.0 °C</p>
                      </div>
                    </div>

                  </div>

                  <!-- second half -->
                  <div class="col-6">

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">12:00 a.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value13" id="formControlRange13"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value13">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">1:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value14" id="formControlRange14"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value14">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">2:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value15" id="formControlRange15"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value15">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">3:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value16" id="formControlRange16"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value16">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">4:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value17" id="formControlRange17"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value17">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">5:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value18" id="formControlRange18"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value18">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">6:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value19" id="formControlRange19"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value19">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">7:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value20" id="formControlRange20"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value20">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">8:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value21" id="formControlRange21"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value21">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">9:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value22" id="formControlRange22"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value22">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">10:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value23" id="formControlRange23"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value23">18.0 °C</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <p class="card-text">11:00 p.m.</p>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" min="10.0" max="30.0" value="18.0" step="0.5"
                                    data-id="value24" id="formControlRange24"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <p class="card-text" id="value24">18.0 °C</p>
                        </div>
                    </div>
                  </div>
                </div>
             </div>
           </fieldset>
         </form>
       </div>
     </div>
   </div>
 </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/clockAndCalendar.js"></script>
<script src="js/prog.js"></script>