<div class="container">
<h3>Token for remote control</h3>
<p><b id="token">
        {{#if token}}
            {{token}}
        {{else}}
            -
        {{/if}}</b><p>
<button class="btn btn-primary" id="newtoken">New token</button>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/remote.js"></script>
