<div class="container">
    <h1>SmartNSG remote control</h1>
    <form method="POST" action="/api/settings/token">
        <fieldset class="form-group">
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="inputLarge">Insert token</label>
                <input class="form-control form-control-lg" type="text" name="token" id="inputLarge">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>
