<div class="row" id="weekend_settings">
<div class="col-12">
  <div class="card border-secondary mb-3">
    <div class="card-header">Wifi</div>
    <div class="card-body">
      <p> Select an access point ... </p>  
        <div class="list-group">
          {{#each avNetworks }}
            <a href="/connect/{{this.ssid}}" class="list-group-item list-group-item-action active">
              {{this.ssid}}
            </a>
          {{/each}}
        </div>
    </div>
  </div>
</div>
